.navigation{
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    &__logo{
        
        &--svg{
            width: 5rem;
            height: 5rem;
        }
    }

    &__menu{
        display: flex;
        align-items: center;
       
        & > *{
            margin: 0 .9rem;
        }

        span{
            cursor: pointer;
        }
    }
}