@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
:root{
    --color-bg: #fffffb;
    --color-text: #444444;
    --color-secondary: #39b5e9;
    --color-grey-light: #eeeeee;
    --color-grey-dark: #c7c7c7;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    max-width:100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-size: 1.4rem;
    font-weight: 400;
}
.grid{
    display: flex;
    flex-wrap: wrap;
}
.flex-end{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header{
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-grey-light);
    display: flex;
    justify-content: space-around;
}
.logo h1{
    padding: 1rem 0;
}
.header__links{
    width: 60%;
    font-weight: 500;
    display: flex;
}
.header__links--link{
    margin: 0 0.8rem;
    line-height: 3.5;
    border-bottom: 4px solid #fff;
    align-self: flex-end;
    text-decoration: none;
    color: var(--color-text);
}
.is-active{
    border-bottom: 4px solid var(--color-secondary);
}
.profile{
    display: flex;
    align-items: center;
}
.dropdown{
    width: 2rem;
    height: 2rem;
    fill: var(--color-text);
}
.conatiner{
    padding: 2rem;
}
.manageContainer{
    width: 60%;
    height: 100%;
    padding: 2rem;
    margin: 0 auto;
}
form{
    display: flex;
    flex-wrap: wrap;
}
.form-grid{
    display: flex;
}
.form-group{
    margin: 1rem 2rem;
}
.manageContainer form label{
    padding: .5rem 0;
    display: block;
}
.manageContainer form input, .manageContainer form textarea{
    width: 30rem;
    height: 3.5rem;
    padding: 1rem;
    border: 1px solid var(--color-grey-dark);
}
.manageContainer form input:focus{
    border: 1px solid var(--color-secondary);
}
.manageContainer form input:focus-visible, .manageContainer form textarea:focus-visible{
    outline: 1px solid var(--color-secondary);
}
.formSubmit{
    width: 12rem;
    height: 4rem;
    background-color: var(--color-secondary);
    color: var(--color-bg);
    border: 1px solid var(--color-secondary);
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-family: 'Poppins', sans-serif;
}
.formSubmit:active{
    transform: translateY(3px);
}
.products{
    padding: 2rem 0;
}
.products .item:first-child{
    font-weight: 500;
    border-top: 1px solid var(--color-grey-dark);
}
#productDescription{
    height: 8rem;
}
#productImage{
    width: 25rem;
    height: 4rem;
    cursor: pointer;
    position: relative;
}
#productImage::before, #productImage::after{
    position: absolute;
    top: 0;
    height: 100%;
    line-height: 2.7;
    color: var(--color-text);
}
#productImage::before{
    content: 'Choose file..';
    left: 4%;
    width: 60%;
    background-color: var(--color-bg);
    text-align: left;
}
#productImage::after{
    content: 'Browse';
    position: absolute;
    right: 0;
    width: 40%;
    text-align: center;
    background-color: var(--color-grey-light);
}
.item{
    border-bottom: 1px solid var(--color-grey-dark);
    display: flex;
}
.item .removeItem{
    color: var(--color-secondary);
}
.item__image{
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}
.item__image--img{
    display: block;
    max-width: 100%;
    height: auto;
}
.item__picture:hover{
    transform: scale(2.5);
}
.item__image,
.item__name,
.item__description,
.item__price,
.removeItem{
    margin: 0 1rem;
    padding: 1rem .5rem;
}
.itemName{
    min-width: 10rem;
    width: 18rem;
}
.itemDescription{
    min-width: 15rem;
    width: 25rem;
}
.itemPrice{
    width: 10rem;
}
.removeItem{
    width: 7rem;
}
