@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
:root{
    --color-bg: #fffffb;
    --color-text: #444444;
    --color-secondary: #39b5e9;
    --color-grey-light: #eeeeee;
    --color-grey-dark: #c7c7c7;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    max-width:100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-size: 1.4rem;
    font-weight: 400;
}
.grid{
    display: flex;
    flex-wrap: wrap;
}
.flex-end{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header{
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-grey-light);
    display: flex;
    justify-content: space-around;
}