body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
}

h2{
    font-family: inherit;
    font-weight: 500;
}

a{
    font-family: inherit;
    font-weight: 400;
    text-decoration: none;
    color: $color-secondary;
    text-transform: uppercase;
}